.idea/
CodeGolfSEAnalysis.iml
codegolf.stackexchange.com.mx
codegolf.stackexchange.com.mx.zip
codegolf.stackexchange.com*.mx
CodeGolfProgrammingLanguage*.mx
locationStringToInterpretedLocation*.mx
codegolf.stackexchange.com*.mx.zip
CodeGolfProgrammingLanguage_*.mx.zip
